doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Express Framework Chatroom
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/socket.io-1.4.5.js')
    script(src='/javascripts/jquery-1.11.1.js')
    script(src='/javascripts/main.js')
