doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Express Framework Chatroom
    link(rel='stylesheet', href='/stylesheets/login_signup.css')
    meta(name='viewport', content="width=device-width", initial-scale=1)
  body
    .login
      form(method='POST' action='/login')
        h1
          label Login
        .inset
          p
            label(for='username') USERNAME
            input(type='text', name='username', required)
          p
            label(for='password') PASSWORD
            input(type='password', name='password', required)
        p.p-container
          span
            a(href='./signup') Signup 
          input(type='submit', value='Login')
