<div class="buttons">
  <button [disabled]="!heroes.canAdd()" (click)="heroes.addInactive()">Add inactive hero</button>
  <button [disabled]="!heroes.canAdd()" (click)="heroes.addActive()">Add active</button>
  <button [disabled]="!heroes.canRemove()" (click)="heroes.remove()">Remove hero</button>
</div>
<div class="columns">
  <div class="column">
    <h4>Basic State</h4>
    <p>Switch between active/inactive on click.</p>
    <hero-list-basic [heroes]=heroes></hero-list-basic>
  </div>
  <div class="column">
    <h4>Styles inline in transitions</h4>
    <p>Animated effect on click, no persistend end styles.</p>
    <hero-list-inline-styles [heroes]=heroes></hero-list-inline-styles>
  </div>
  <div class="column">
    <h4>Combined transition syntax</h4>
    <p>Switch between active/inactive on click. Define just one transition used in both directions.</p>
    <hero-list-combined-transitions [heroes]=heroes></hero-list-combined-transitions>
  </div>
  <div class="column">
    <h4>Two-way transition syntax</h4>
    <p>Switch between active/inactive on click, Define just one transition used in both directions.</p>
    <hero-list-twoway [heroes]=heroes></hero-list-twoway>
  </div>
  <div class="column">
    <h4>Enter & Leave</h4>
    <p>Enter and Laeve animations using the void state.</p>
    <hero-list-enter-leave [heroes]=heroes></hero-list-enter-leave>
  </div>
</div>