*Import: nib;
*
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Georgia';
  background: url("../images/login_bg.png") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.login {
  margin: 13em auto 0;
  width: 22%;
}
form {
  background: #0a192a;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
  border: 1px solid #0a192a;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}
form:after {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  width: 100px;
  left: 20%;
  top: 0;
}
form:before {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  left: 34%;
  top: -7px;
  -webkit-box-shadow: 0 0 6px 4px #fff;
  box-shadow: 0 0 6px 4px #fff;
}
.inset {
  padding: 20px;
  border-top: 1px solid #000;
}
form h1 {
  text-align: center;
  padding: 18px 0;
  border-bottom: 1px solid #000;
  position: relative;
}
form h1:after {
  content: '';
  display: block;
  width: 250px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 50px;
  pointer-events: none;
  -webkit-transform: rotate(70deg);
  -moz-transform: rotate(70deg);
  -o-transform: rotate(70deg);
  -ms-transform: rotate(70deg);
  transform: rotate(70deg);
  background: -webkit-linear-gradient(40deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
  background: -moz-linear-gradient(40deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
  background: -o-linear-gradient(40deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
  background: -ms-linear-gradient(40deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
  background: linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
}
form h1 {
  color: #fff;
  text-shadow: 0 1px 0 #000;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 18px 0;
  border-bottom: 1px solid #000;
  position: relative;
}
label {
  color: rgba(137,192,243,0.8);
  display: block;
  font-size: 13px;
  padding-bottom: 9px;
}
form h1 label {
  font-size: 20px;
}
input[type=text],
input[type=password] {
  width: 100%;
  padding: 8px 5px;
  background: -webkit-linear-gradient(top, #a7a7a7 0%, #b5b5b5 21%, #e4e4e4 79%, #f2f2f2 100%);
  background: -moz-linear-gradient(top, #a7a7a7 0%, #b5b5b5 21%, #e4e4e4 79%, #f2f2f2 100%);
  background: -o-linear-gradient(top, #a7a7a7 0%, #b5b5b5 21%, #e4e4e4 79%, #f2f2f2 100%);
  background: -ms-linear-gradient(top, #a7a7a7 0%, #b5b5b5 21%, #e4e4e4 79%, #f2f2f2 100%);
  background: linear-gradient(to bottom, #a7a7a7 0%, #b5b5b5 21%, #e4e4e4 79%, #f2f2f2 100%);
  border: 1px solid #222;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
  box-shadow: 0 1px 0 rgba(255,255,255,0.1);
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  margin-bottom: 20px;
  color: #000;
  font-size: 15px;
  outline: none;
}
.p-container {
  padding: 0 20px 20px 20px;
}
.p-container:after {
  clear: both;
  display: table;
  content: '';
}
.p-container span a {
  font-size: 18px;
  display: block;
  float: left;
  color: #0d93ff;
  padding-top: 4px;
}
input[type=submit] {
  padding: 5px 20px;
  border: 1px solid #439f07;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3) inset 0 10px 10px rgba(255,255,255,0.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.3) inset 0 10px 10px rgba(255,255,255,0.1);
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  background: -webkit-linear-gradient(top, #8ac754 0%, #79c932 45%, #66be18 48%, #399602 97%, #66ae3f 100%);
  background: -moz-linear-gradient(top, #8ac754 0%, #79c932 45%, #66be18 48%, #399602 97%, #66ae3f 100%);
  background: -o-linear-gradient(top, #8ac754 0%, #79c932 45%, #66be18 48%, #399602 97%, #66ae3f 100%);
  background: -ms-linear-gradient(top, #8ac754 0%, #79c932 45%, #66be18 48%, #399602 97%, #66ae3f 100%);
  background: linear-gradient(to bottom, #8ac754 0%, #79c932 45%, #66be18 48%, #399602 97%, #66ae3f 100%);
  color: #fff;
  float: right;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  outline: none;
}
input[type=submit]:hover {
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3) inset 0 -10px 10px rgba(255,255,255,0.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.3) inset 0 -10px 10px rgba(255,255,255,0.1);
  background: -webkit-linear-gradient(top, #66ae3f 0%, #399602 3%, #66be18 52%, #79c932 55%, #8ac754 100%);
  background: -moz-linear-gradient(top, #66ae3f 0%, #399602 3%, #66be18 52%, #79c932 55%, #8ac754 100%);
  background: -o-linear-gradient(top, #66ae3f 0%, #399602 3%, #66be18 52%, #79c932 55%, #8ac754 100%);
  background: -ms-linear-gradient(top, #66ae3f 0%, #399602 3%, #66be18 52%, #79c932 55%, #8ac754 100%);
  background: linear-gradient(to bottom, #66ae3f 0%, #399602 3%, #66be18 52%, #79c932 55%, #8ac754 100%);
}
/*
 * Responsive Design
 */
@media only screen and (min-width: 256px) {
  .login {
    margin: 7em auto 0;
    width: 270px;
  }
}
@media only screen and (min-width: 384px) {
  .login {
    margin: 7em auto 0;
    width: 290px;
  }
}
@media only screen and (min-width: 512px) {
  .login {
    margin: 7em auto 0;
    width: 310px;
  }
}
@media only screen and (min-width: 640px) {
  .login {
    margin: 7em auto 0;
    width: 330px;
  }
}
@media only screen and (min-width: 768px) {
  .login {
    margin: 7em auto 0;
    width: 350px;
  }
}
@media only screen and (min-width: 896px) {
  .login {
    margin: 7em auto 0;
    width: 370px;
  }
}
@media only screen and (min-width: 1024px) {
  .login {
    margin: 7em auto 0;
    width: 390px;
  }
}
@media only screen and (min-width: 1152px) {
  .login {
    margin: 7em auto 0;
    width: 410px;
  }
}
@media only screen and (min-width: 1280px) {
  .login {
    margin: 7em auto 0;
    width: 430px;
  }
}
@media only screen and (min-width: 1408px) {
  .login {
    margin: 7em auto 0;
    width: 450px;
  }
}
@media only screen and (min-width: 1536px) {
  .login {
    margin: 7em auto 0;
    width: 470px;
  }
}
@media only screen and (min-width: 1664px) {
  .login {
    margin: 7em auto 0;
    width: 490px;
  }
}
@media only screen and (min-width: 1792px) {
  .login {
    margin: 7em auto 0;
    width: 510px;
  }
}
@media only screen and (min-width: 1920px) {
  .login {
    margin: 7em auto 0;
    width: 530px;
  }
}
