.box{
  position:relative;
}

.box:before{
  content:'';
  position:absolute;
  z-index:2;
  top:60px;
  left:50px;
  width:50px;
  height:50px;
  background:#c00;
  border-radius:2px;
  transform: rotate(45deg);
  -webkit-animation:box .8s linear infinite ;
}

@-webkit-keyframes box{
  0%{
    top:50px;
    /*transform: rotate(90deg);*/
    transform: rotate(0deg);
  }
  20%{
    border-radius:2px;
  }
  50%{
    top:80px;
    transform: rotate(45deg);
    border-bottom-right-radius:25px;
  }
  80%{
    border-radius:2px;
  }
  100%{
    top:50px;
    /*transform: rotate(0deg);*/
    transform: rotate(90deg);
  }
}

.box:after{
  content:'';
  position:absolute;
  z-index:1;
  top:128px;
  left:52px;
  width:44px;
  height:3px;
  background:#eaeaea;
  border-radius:100%;
  -webkit-animation:shadow .5s linear infinite ;
}

@-webkit-keyframes shadow{
  0%,100%{
    left:54px;
    width:40px;
    background:#eaeaea;
  }
  50%{
    top:126px;
    left:50px;
    width:50px;
    height:7px;
    background:#eee;
  }
}

#google_loading>div:after{
  content:'';
  position:absolute;
  z-index:10;
  top:0;
  left:-50px;
  width:50px;
  height:100px;
  border-radius:50px 0 0 50px;
  background:#ccc;
  -webkit-animation:bgColor2_key 4s linear infinite both;
  animation:bgColor2_key 4s linear infinite both;
}
@-webkit-keyframes flip_key{
  0%    {-webkit-transform:rotateY(0deg);}
  12.5% {-webkit-transform:rotateY(90deg);}
  25%   {-webkit-transform:rotateY(180deg);}
  37.5% {-webkit-transform:rotateY(90deg);}
  50%   {-webkit-transform:rotateY(0deg);}
  62.5% {-webkit-transform:rotateY(90deg);}
  75%   {-webkit-transform:rotateY(180deg);}
  87.5% {-webkit-transform:rotateY(90deg);}
  100%  {-webkit-transform:rotateY(0deg);}
}
@-webkit-keyframes flipColor_key{
  0%    {background: #f52d27;}
  12.5% {background: #7d0906;}
  25%   {background: #ffd539;}
  37.5% {background: #9f7d00;}
  50%   {background: #00b262;}
  62.5% {background: #00190e;}
  75%   {background: #3a71f8;}
  87.5% {background: #052e94;}
  100%  {background: #f52d27;}
}
@-webkit-keyframes bgColor1_key{
  0%,50%  {background: #ffd539;}
  50.01%,100% {background: #3a71f8;}
}
@-webkit-keyframes bgColor2_key{
  0%,25%    {background: #f52d27;}
  25.01%,75% {background: #00b262;}
  75.01%,100% {background: #f52d27;}
}
@-webkit-keyframes rotate_key{
  0%,25%{
    -webkit-transform:rotate(0deg);
  }
  25.01%,50%{
    -webkit-transform:rotate(90deg);
  }
  50.01%,75%{
    -webkit-transform:rotate(180deg);
  }
  75.01%,100%{
    -webkit-transform:rotate(270deg);
  }
}
@keyframes flip_key{
  0%    {transform:rotateY(0deg);}
  12.5% {transform:rotateY(90deg);}
  25%   {transform:rotateY(180deg);}
  37.5% {transform:rotateY(90deg);}
  50%   {transform:rotateY(0deg);}
  62.5% {transform:rotateY(90deg);}
  75%   {transform:rotateY(180deg);}
  87.5% {transform:rotateY(90deg);}
  100%  {transform:rotateY(0deg);}
}
@keyframes flipColor_key{
  0%    {background: #f52d27;}
  12.5% {background: #7d0906;}
  25%   {background: #ffd539;}
  37.5% {background: #9f7d00;}
  50%   {background: #00b262;}
  62.5% {background: #00190e;}
  75%   {background: #3a71f8;}
  87.5% {background: #052e94;}
  100%  {background: #f52d27;}
}
@keyframes bgColor1_key{
  0%,50%     {background: #ffd539;}
  50.1%,100% {background: #3a71f8;}
}
@keyframes bgColor2_key{
  0%,25%    {background: #f52d27;}
  25.01%,75% {background: #00b262;}
  75.01%,100%{background: #f52d27;}
}
@keyframes rotate_key{
  0%,25%{
    transform:rotate(0deg);
  }
  25.01%,50%{
    transform:rotate(90deg);
  }
  50.01%,75%{
    transform:rotate(180deg);
  }
  75.01%,100%{
    transform:rotate(270deg);
  }
}

#m{
  top:100px;
  left:100px;
  margin-left:50px;
  position:absolute;
  width:50px;
  height:100px;
  overflow:hidden;
  border-radius:0 50px 50px 0;
  -webkit-animation:a 5s infinite linear;
}

.wave{
  position:absolute;
  top:calc((100% - 30px)/2);
  left:calc((100% - 30px)/2);
  width:30px;
  height:30px;
  border-radius:300px;
}
.wave0{
  background:#f00;
  z-index:2;
  background-size:auto 106%;
  -webkit-animation:w 1s forwards;
}
.wave1{
  background:#d00;
  z-index:3;
  -webkit-animation:w 1s .2s forwards;
}
.wave2{
  background:#b00;
  z-index:4;
  -webkit-animation:w 1s .4s forwards;
}
.wave3{
  background:#900;
  z-index:5;
  -webkit-animation:w 1s .5s forwards;
}
.wave4{
  background:#700;
  z-index:6;
  -webkit-animation:w 1s .8s forwards;
}
.wave5{
  background:#500;
  z-index:7;
  -webkit-animation:w 1s 1s forwards;
}
@-webkit-keyframes w{
  0%{
    top:calc((100% - 30px)/2);
    left:calc((100% - 30px)/2);
    width:30px;
    height:30px;
  }
  100%{
    top:calc((100% - 300px)/2);
    left:calc((100% - 300px)/2);
    width:300px;
    height:300px;
  }
}

.ybox {
  background: rgba(255, 200, 0, .8);
  margin: 20px;
  z-index: 3;
}
.gbox {
  background: rgba(0, 220, 170, .8);
  margin: -80px 40px 20px;
  z-index: 2;
}
.gbox:hover{
  background: rgba(255, 50, 50, .8);
}
