.box{
  position:relative;
}

.box:before{
  content:'';
  position:absolute;
  z-index:2;
  top:60px;
  left:50px;
  width:50px;
  height:50px;
  background:#c00;
  border-radius:2px;
  transform: rotate(45deg);
  -webkit-animation:box .8s linear infinite ;
}

@-webkit-keyframes box{
  0%{
    top:50px;
    /*transform: rotate(90deg);*/
    transform: rotate(0deg);
  }
  20%{
    border-radius:2px;
  }
  50%{
    top:80px;
    transform: rotate(45deg);
    border-bottom-right-radius:25px;
  }
  80%{
    border-radius:2px;
  }
  100%{
    top:50px;
    /*transform: rotate(0deg);*/
    transform: rotate(90deg);
  }
}

.box:after{
  content:'';
  position:absolute;
  z-index:1;
  top:128px;
  left:52px;
  width:44px;
  height:3px;
  background:#eaeaea;
  border-radius:100%;
  -webkit-animation:shadow .5s linear infinite ;
}

@-webkit-keyframes shadow{
  0%,100%{
    left:54px;
    width:40px;
    background:#eaeaea;
  }
  50%{
    top:126px;
    left:50px;
    width:50px;
    height:7px;
    background:#eee;
  }
}

#google_loading > div{
  left:50px;
  width:50px;
  height:100px;
  border-radius:0 50px 50px 0;
  position:absolute;
  z-index:10;
  -webkit-perspective:200px;
  -webkit-transform:rotateY(0deg);
  -webkit-animation:bgColor1_key 4s linear infinite both,rotate_key 4s infinite both;
  -webkit-transform-origin:0 50%;
  perspective:200px;
  transform:rotateY(0deg);
  animation:bgColor1_key 4s linear infinite both,rotate_key 4s infinite both;
  transform-origin:0 50%;
}

#google_loading>div:after{
  content:'';
  position:absolute;
  z-index:10;
  top:0;
  left:-50px;
  width:50px;
  height:100px;
  border-radius:50px 0 0 50px;
  background:#ccc;
  -webkit-animation:bgColor2_key 4s linear infinite both;
  animation:bgColor2_key 4s linear infinite both;
}

#google_loading>div:before{
  content:'';
  position:absolute;
  z-index:11;
  top:0;
  left:0px;
  width:50px;
  height:100px;
  border-radius:0 50px 50px 0;
  -webkit-transform-origin:0 50%;
  -webkit-transform:rotateY(0deg) rotateZ(0deg);
  -webkit-animation:flipColor_key 4s linear infinite both,flip_key 4s linear infinite both;
  transform-origin:0 50%;
  transform:rotateY(0deg) rotateZ(0deg);
  animation:flipColor_key 4s linear infinite both,flip_key 4s linear infinite both;
}
