extends layout

block content
  .login
    form#loginform(action='')
      label(for='username') User Name
      input#loginInput(autocomplete='off', type='text', name='username')
      input(type='submit', value='Log In')
  .chat
    .userlist
      ul#list
    ul#messages
    .status
      ul#status
    form#chatform(action='')
      input#m(autocomplete='off')
      button send