extends layout

block content
  .login
    form#loginform(action='')
      input#loginInput(autocomplete='off')
      button#loginButton Login
  .chat
    ul#messages
    form#chatform(action='')
      input#m(autocomplete='off')
      button send