<h1>Cars Table</h1>
<button class="btn btn-default" (click)="getList()">Get List</button>

<hr>

<ag-grid-ng2 class="ag-fresh" style="height: 200px; width: 810px" [rowGroupPanelShow]="always" [columnDefs]="columnDefs"  [rowData] = "rowData"></ag-grid-ng2>

<div>
  <h2>Delete Car</h2>
  <form *ngIf="active" (ngSubmit)="onSubmit()" #AddCarForm="ngForm">
    <div class="form-group">
      <label for="model">ID</label>
      <input type="number" class="form-control" required [(ngModel)]="id" ngControl="model" #model="ngForm" #spy />
      <div [hidden]="model.valid || model.pristine" class="alert alert-danger">Valid id is required</div>
    </div>

    <button type="submit" class="btn btn-default" [disabled]="!AddCarForm.form.valid" (click)="deleteCar(id)">Submit</button>
  </form>
</div>

<div>
  <h2>Add Car</h2>
  <form *ngIf="active" (ngSubmit)="onSubmit()" #AddCarForm="ngForm">
    <div class="form-group">
      <label for="model">Model</label>
      <input type="text" class="form-control" required [(ngModel)]="car.model" ngControl="model" #model="ngForm" #spy />
      <div [hidden]="model.valid || model.pristine" class="alert alert-danger">Model is required</div>
    </div>

    <div class="form-group">
      <label for="model">Year</label>
      <input type="number" class="form-control" required [(ngModel)]="car.year" ngControl="model" #year="ngForm" #spy />
      <div [hidden]="model.valid || model.pristine" class="alert alert-danger">Year is required</div>
    </div>

    <div class="form-group">
      <label for="model">Millage</label>
      <input type="number" class="form-control" required [(ngModel)]="car.millage" ngControl="model" #millage="ngForm" #spy />
      <div [hidden]="model.valid || model.pristine" class="alert alert-danger">Millage is required</div>
    </div>

    <button type="submit" class="btn btn-default" [disabled]="!AddCarForm.form.valid" (click)="addCar(car)">Submit</button>

  </form>
</div>
